.login__backgroud {
  background-image: url("../../img/mountain.jpg");
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .login__backgroud {
    background-image: url("../../img/mountainsMobile.jpg");
    background-size: cover;
  }
}
