body{
  overflow-x: clip;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar{
  white-space: nowrap;
  position: sticky;
  top:-00.1px;
  width: 16em;
  transition: width .5s ease-in-out;
  overflow: hidden;
  padding:0;
  height: 100vh;
  margin:0;
  overflow-y: scroll;

}

.sidebar_header{
  position: sticky;
  top:0.1px;
}

.sidebar_close{
  width: 0;
  transition: width .5s ease-in-out;
}








